body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#header {
	margin-top: 40px;
  text-align: left;
}
#headerSide {
  display: inline-block;
  float: right;
  margin-top: 31px;
}
.spacer {
  height: 50px;
}
.headerButton {
	margin-left: 457px;
}
.content {
	text-align: left;
}
.searchContent {
  display: none;
}
#searchResults {
  margin-top: 40px;
}
.desc {
	text-align: left !important;
	width: 278px;
	white-space: normal;
	line-height: 22px;
}
.name {
	text-align: left !important;
	width: 146px !important;
	white-space: normal;
	line-height: 22px;
}
.actions {
	width: 132px !important;
	text-align: right;
}
.toggle {
	margin-right: 10px;
}
.addon-load {
	margin-right: 6px;
}
.uninst {
  margin-right: 18px;
}
#pageContent {
	display: inline-block;
  width: 699px;
}
.backLink {
	cursor: pointer;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
}
.backLink:visited {
	color: black;
}
#dialog {
  padding: 30px;
}
.mdl-switch {
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;
}
.settingsSub {
  margin-top: -15px;
  margin-bottom: 25px;
  display: inline-block;
  opacity: 0.7;
}
.settingsTop {
  margin-top: 0;
  margin-bottom: 0;
}
.settingsFooter {
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
}
.settingsMainButton {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}
.settingsRun {
  margin-right: 15px;
}
.footer {
  margin-bottom: 60px;
}
.imgBox {
  width: 100px;
  height: 100px;
  background-size: contain !important;
}
.nosettings {
  margin-bottom: 20px;
}
button.ext {
  width: 100%;
}

#loginLogo {
  margin-top: 30px;
  margin-bottom: 50px;
}

#loginButton {
  margin-left: 20px;
}

#manifest-url-parent {
  cursor: pointer;
}

#manifest-url {
  cursor: pointer !important;
}

.copy-box {
  color: rgba(0,0,0,0.5);
  padding: 7px 10px;
  border: 1px solid rgba(0,0,0,0.3);
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  float: left;
}

.load-button {
  margin-top: -1px;
  float: right;
}

.load-title {
  margin-bottom: 15px;
}

.copy-box:hover {
  border: 1px solid rgba(83,109,254,0.6);
}

.qr-hold {
  height: 280px;
  width: 280px;
}

.no-setting .mdl-button {
  margin-top: 20px;
}

.mdl-snackbar__text {
  width: 100%;
}

.mdl-snackbar__action {
  display: none !important;
}

.mdl-dialog {
  width: 290px;
}

.mdl-expansion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
.mdl-expansion__summary {
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  display: flex;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mdl-expansion__summary::-webkit-details-marker {
  display: none;
}
.mdl-expansion__summary::after {
  font-family: 'Material Icons';
  content: '\e313';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  justify-content: center;
  transition: transform 200ms, color 200ms;
  margin-left: auto;
  color: rgba(0, 0, 0, 0.38);
}
.mdl-expansion__summary:focus {
  background-color: #EEEEEE;
}
.mdl-expansion__summary:focus::after {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-expansion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  flex-basis: 30%;
  margin-right: 16px;
  font-size: 16px;
}
.mdl-expansion__subheader {
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.54);
}
.mdl-expansion__secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: 500;
  flex-basis: 30%;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 16px;
}
.mdl-expansion__content {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mdl-expansion[open] .mdl-expansion__summary::after {
  transform: rotate(180deg);
}

.mdl-select .mdl-textfield__label {
  top: 2px !important;
}

@media (min-width:320px) and (max-width:1025px) {
  body {
    zoom: 170%;
  }
  #pageContent {
    width: 100%;
  }
  #header {
    padding: 30px;
  }
  #headerSide {
    display: inline-block;
    float: right;
    margin-top: 24px;
  }
}
